<link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>
<body class="firstRow">
<nz-row nzJustify="center">
  <nz-card class="mainCard">

    <nz-row class="margin-t-medium" [nzGutter]="24" nzJustify="center">
      <nz-col>
        <img class="firstImg" src="assets/landscape-photography-of-mountains-covered-in-snow-691668.jpg">
      </nz-col>
      <nz-col nzFlex="1" nzSpan="15" class="infoAboutMe">
        <h2 nz-typography>Razvan Resmerita</h2>
        <h4>Full stack developer</h4>
        <h5 style="color: #b2b2b2">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid corporis delectus dolore dolorum ex fugiat
          illum impedit incidunt ipsam, labore laboriosam laborum magnam magni officia porro quos soluta unde veniam.
        </h5>
        <h5 style="color: #b2b2b2">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid corporis delectus dolore dolorum ex fugiat
          illum impedit incidunt ipsam, labore laboriosam laborum magnam magni officia porro quos soluta unde veniam.
        </h5>

      </nz-col>
    </nz-row>
    <nz-row nzJustify="center">

      <h5 nz-typography>Technologies used</h5>
    </nz-row>
    <nz-row nzJustify="center" [nzGutter]="24" class="margin-t-medium">
      <nz-col nzSpan="3">
        <nz-card (click)="navigateTo(technologiesLink.angular)" class="tecCard">
          <nz-row nzJustify="center">
            <h3>Angular</h3>
          </nz-row>
          <nz-row nzJustify="center">
            <i class="fab fa-angular fa-2x" style="size: 10px"></i>
          </nz-row>
        </nz-card>
      </nz-col>
      <nz-col nzSpan="3">
        <nz-card (click)="navigateTo(technologiesLink.javascript)" class="tecCard">
          <nz-row nzJustify="center">
            <h3>Javascript</h3>
          </nz-row>
          <nz-row nzJustify="center">
            <i class="fab fa-js fa-2x" style="size: 10px"></i>
          </nz-row>
        </nz-card>
      </nz-col>
      <nz-col nzSpan="3">
        <nz-card (click)="navigateTo(technologiesLink.java)" class="tecCard">
          <nz-row nzJustify="center">
            <h3>Java</h3>
          </nz-row>
          <nz-row nzJustify="center">
            <i class="fab fa-java fa-2x" style="size: 10px"></i>
          </nz-row>
        </nz-card>
      </nz-col>
      <nz-col nzSpan="3">
        <nz-card (click)="navigateTo(technologiesLink.nodeJs)" class="tecCard">
          <nz-row nzJustify="center">
            <h3>Node JS</h3>
          </nz-row>
          <nz-row nzJustify="center">
            <i class="fab fa-node-js fa-2x" style="size: 10px"></i>
          </nz-row>
        </nz-card>
      </nz-col>
      <nz-col nzSpan="3">
        <nz-card (click)="navigateTo(technologiesLink.mongoDb)" class="tecCard">
          <nz-row nzJustify="center">
            <h3>MongoDB </h3>
          </nz-row>
          <nz-row nzJustify="center">
            <i class="fas fa-database fa-2x" style="size: 10px"></i>
          </nz-row>
        </nz-card>
      </nz-col>
    </nz-row>
    <nz-row nzJustify="center" [nzGutter]="24" class="margin-t-medium">
      <nz-col nzSpan="3">
        <nz-card (click)="navigateTo(technologiesLink.html)" class="tecCard">
          <nz-row nzJustify="center">
            <h3>HTML</h3>
          </nz-row>
          <nz-row nzJustify="center">
            <i class="fab fa-html5 fa-2x" style="size: 10px"></i>
          </nz-row>
        </nz-card>
      </nz-col>
      <nz-col nzSpan="3">
        <nz-card (click)="navigateTo(technologiesLink.css)" class="tecCard">
          <nz-row nzJustify="center">
            <h3>CSS</h3>
          </nz-row>
          <nz-row nzJustify="center">
            <i class="fab fa-css3-alt fa-2x" style="size: 10px"></i>
          </nz-row>
        </nz-card>
      </nz-col>
      <nz-col nzSpan="3">
        <nz-card (click)="navigateTo(technologiesLink.scss)" class="tecCard">
          <nz-row nzJustify="center">
            <h3>SCSS</h3>
          </nz-row>
          <nz-row nzJustify="center">
            <i class="fab fa-sass fa-2x" style="size: 10px"></i>
          </nz-row>
        </nz-card>
      </nz-col>
      <nz-col nzSpan="3">
        <nz-card (click)="navigateTo(technologiesLink.gitLab)" class="tecCard">
          <nz-row nzJustify="center">
            <h3>GitLab</h3>
          </nz-row>
          <nz-row nzJustify="center">
            <i class="fab fa-gitlab fa-2x" style="size: 10px"></i>
          </nz-row>
        </nz-card>
      </nz-col>
      <nz-col nzSpan="3">
        <nz-card (click)="navigateTo(technologiesLink.jira)" class="tecCard">
          <nz-row nzJustify="center">
            <h3>Jira </h3>
          </nz-row>
          <nz-row nzJustify="center">
            <i class="fab fa-jira fa-2x" style="size: 10px"></i>
          </nz-row>
        </nz-card>
      </nz-col>
    </nz-row>
    <nz-row nzJustify="center" class="margin-t-medium">
      <h5 nz-typography>Experience</h5>
    </nz-row>
    <nz-row nzJustify="center">
      <i *ngIf="!showExperience" (click)="showExperienceMethod()" class="fas fa-chevron-down arrows"></i>
      <i (click)="showExperienceMethod()" *ngIf="showExperience" class="fas fa-chevron-up arrows"></i>
    </nz-row>
    <nz-row *ngIf="showExperience" nzJustify="center" class="margin-t-medium" [nzGutter]="20">
      <nz-col nzSpan="15">
        <nz-collapse class="experienceCard">
          <nz-collapse-panel class="experienceCard" nzHeader="Front End developer 2019-2021" [nzExtra]="italyLocation">
            <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam beatae cum eum exercitationem
              facilis
              hic maiores minima, modi nulla quis rem repellat sapiente suscipit. Illum iure labore nostrum recusandae
              voluptate?</h5>
          </nz-collapse-panel>
        </nz-collapse>
      </nz-col>
    </nz-row>
    <nz-row *ngIf="showExperience" nzJustify="center" class="margin-t-medium" [nzGutter]="20">
      <nz-col nzSpan="15">
        <nz-collapse class="experienceCard">
          <nz-collapse-panel class="experienceCard" nzHeader="Front End developer 2021-" [nzExtra]="bucharestLocation">
            <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam beatae cum eum exercitationem facilis
              hic maiores minima, modi nulla quis rem repellat sapiente suscipit. Illum iure labore nostrum recusandae
              voluptate?</h5>
          </nz-collapse-panel>
        </nz-collapse>
      </nz-col>
    </nz-row>

    <nz-row nzJustify="center" class="margin-t-medium">
      <nz-col>
          <ngx-charts-number-card
            [view]="[300,200]"
            [scheme]="colorScheme"
            [results]="single1"
            [cardColor]="cardColorInsta">
          </ngx-charts-number-card>
      </nz-col>
      <nz-col>
        <ngx-charts-number-card
          [view]="[300,200]"
          [scheme]="colorScheme"
          [results]="single2"
          [cardColor]="cardColorFacebook">
        </ngx-charts-number-card>
      </nz-col>
      <nz-col>
        <ngx-charts-number-card
          [view]="[300,200]"
          [scheme]="colorScheme"
          [results]="single3"
          [cardColor]="cardColorYoutube">
        </ngx-charts-number-card>
      </nz-col>
    </nz-row>

    <nz-row [nzGutter]="20" nzJustify="end" class="margin-t-medium">
      <nz-col>
        <i (click)="navigateTo(myProfile.linkedinUrl)" class="fab fa-linkedin fa-3x mouseOver socialIcons"></i>
      </nz-col>
      <nz-col>
        <i (click)="navigateTo(myProfile.githubUrl)" class="fab fa-github-square fa-3x mouseOver"></i>
      </nz-col>
      <nz-col>
        <i (click)="navigateTo(myProfile.facebookUrl)" class="fab fa-facebook-square fa-3x mouseOver"></i>
      </nz-col>
      <nz-col>
        <i (click)="navigateTo(myProfile.instagramUrl)" class="fab fa-instagram-square fa-3x mouseOver"></i>
      </nz-col>
      <nz-col>
        <i (click)="navigateTo(myProfile.youtubeUrl)" class="fab fa-youtube-square fa-3x mouseOver"></i>
      </nz-col>
    </nz-row>


  </nz-card>
</nz-row>
</body>


<ng-template #italyLocation>
  <nz-row [nzGutter]="10">
    <nz-col>
      <span
        (click)="navigateTo('https://www.google.ro/maps/place/Torino,+Provincia+Torino,+Italia/@45.0701176,7.6000497,12z/data=!3m1!4b1!4m5!3m4!1s0x47886d126418be25:0x8903f803d69c77bf!8m2!3d45.070312!4d7.6868565?hl=ro')">Turin,Italy</span>
    </nz-col>
    <nz-col>
      <i class="fas fa-map-marker-alt"></i>
    </nz-col>
  </nz-row>
</ng-template>
<ng-template #bucharestLocation>
  <nz-row [nzGutter]="10">
    <nz-col>
      <span
        (click)="navigateTo('https://www.google.ro/maps/place/Bucure%C8%99ti/@44.4377401,25.9545551,11z/data=!3m1!4b1!4m5!3m4!1s0x40b1f93abf3cad4f:0xac0632e37c9ca628!8m2!3d44.4267674!4d26.1025384?hl=ro')">Bucharest, Romania</span>
    </nz-col>
    <nz-col>
      <i class="fas fa-map-marker-alt"></i>
    </nz-col>
  </nz-row>
</ng-template>




